.bubble {
  position: relative;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  border: 4px solid black;
  padding: 18px
}

.bubble::after {
  content: '';
  position: absolute;
  bottom: -20px; 
  left: 25%;
  margin-left: -10px;
  border-width: 20px 10px 0;
  border-style: solid;
  border-color: black transparent transparent;
  
}
